:root{
    --bg-color: #ffffff;
    --hr-color: #E4E4E4;
    --blackclr: #000;
    --white-clr: #fff;
    --content-clr: #656565;
    --active-clr: #9B9B9B;
    --btn-hover-clr: #dd4d5a;
}

body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: system-ui, sans-serif;
    font-weight: normal;
}

.container {
    /* min-height: 100dvh; */
  }

.wrapper{
    min-block-size: 25ch;
    inline-size: 100%;
    max-inline-size: 1200px;
    padding: 0 2rem;
    margin-inline: auto;
}

.flex-boy{
    display:flex;
    justify-content: space-between;
}

.head-nav{
    padding-block: 1.5em;
    align-items: center;
    border-bottom: 2px solid var(--hr-color);
}

.logo{
    width: 150px;
}

.cart{
    width: 48px;
}

.the-head{
   padding-block: 1.5em 1em;
}

.add-to-cart-btn{
    padding: .3em 1em;
    color: var(--white-clr);
    background-color: var(--blackclr);
    text-transform: uppercase;
cursor: pointer;
}

.add-to-cart-btn:hover{
    background-color:var(--btn-hover-clr);
}

.banner-img{
    position: relative;
}

.photo-of-the-day{
    padding: .8em 1.5em;
    color: var(--black-clr);
    background-color: var(--white-clr);
    position: absolute;
    /* inset: 0 0; */
    bottom: 0;
    left: 0;
    font-weight:600;
}

.content{
    padding-block: 3em;
    border-bottom: 2px solid var(--hr-color);
    margin-bottom: 2.5em;
}

.content-left{
    width: 50%;
}

.content__title{
    /* color: var(--content-clr); */
}

.title__cat{
    color: var(--content-clr);
    font-weight: 600;
    padding-block: .5em;
}

.content__words {
    color: var(--content-clr);
    text-wrap:stable;
    line-height: 1.6em;
    /* word-break: break-all; */
}

.content-cart{
    width: 40%;
    text-align: right;
}

.right-align{
    text-align: right;
}

.content__row{
    /* margin: 0; */
    /* background-color: rebeccapurple; */
    padding: 0;
    margin: 0;
}

ul.content__row-sales{
    /* background-color: red; */
    list-style-type: none;
    display: flex;
    justify-content:end;
    gap: 1.5em;
    padding-block: 1em;
}

.content-cart--details{
padding-block: 2em;
}

.content-title__sub{
    font-size: 12px;
    padding-block: .3em;
}

.breadcrumb ul, .breadcrumb__sort ul {
 list-style-type: none;  
 display: flex;
 padding: 0;
 /* gap: .5em; */
}

.breadcrumb ul li::after{
    content: '/';
    margin: 0 .5em;
}

.breadcrumb ul li:last-child::after{
    content: '';
}

.breadcrumb ul li.active a {
    color:var(--active-clr);
    text-decoration: none;
}

.breadcrumb__sort ul li::before{
    content: '\21C5';
    margin: 0 .5em;
}

.breadcrumb__sort ul li:last-child::before{
    content: '';
    margin: 0 .5em;
}

.breadcrumb__sort ul li:last-child::after{
    content: '\21C5';
    margin: 0 .5em;
}

.breadcrumb__sort ul li.active{
    color:var(--active-clr);
}

.sales-content{
    margin-block: 2em;
    gap: 2em;
    /* justify-content: space-between; */
}

.sales-content--nav{
    width: 20%;
}

.sales-content--product{
    width: 80%;
    display: flex;
    gap: 1.5em;
    /* flex-wrap: wrap; */
}

.card-product{
    /* width: 100%; */
}

.card_product ul{
    padding: 0;
    display: flex;
    gap: 1em;
    list-style-type: none;
    flex-wrap:wrap; 
    /* box-sizing: border-box; */
}

.card_product--details li{
    position: relative;
    flex-basis:0 0 33.33333%;
    margin-bottom: 2.5em;
}

.card_product--details li img{
    max-width: 100%;
    height: auto;
}

.card_product--details li span.best-seller{
position: absolute;
padding: .2em 1em;
background-color: var(--white-clr);
}

.card_product--details li .card_product--add-to-cart{
    position: absolute;
    bottom: 4.6em;
    width: 100%;
    background-color:var(--blackclr);
    color: var(--white-clr);
    padding:.4em ;
    z-index:2;
    /* margin-bottom: 2em; */
    font-weight: bold;
    text-align: center;
}

 .card_product--details li .card_product--info{
    position: relative;
}

.card_product--details li .card_product--cats{
    color:var(--content-clr);
    
}

.card_product--info .card_product--title{
    font-weight: bold;
    font-size: 1.1rem;
}